
span{background-color:#FFFFFF;}

.paragraph{
border-color:#0000FF;
border-style:solid;

}
input.paragraph{
background-color:#0000FF;
}

.sentence{
background-color:#FF5555;
border-color:#Ff0000;


}

span{
border-style:solid;
background-color:#FF0000;
}
.word{
background-color:#FFFFFF;
}
.replace{

background-color:#00FFFF;
}